<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Product List</h2>
    </div>
    <div class="panel-body">
      <a href="http://localhost:4200/add" class="btn btn-primary">Thêm Sản Phẩm</a>
      <input type="text" placeholder="Search" [(ngModel)]= "searchText" style="margin-left: 10px"/>
    
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Category ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Image</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products | async | filter: searchText | paginate: { itemsPerPage: 5, currentPage: p } | filter: searchText , let i = index">
            <td>{{product.cateID}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.qty}}</td>
            <td>{{product.imgUrl}}</td>
            <td>
                
                <button (click)="productDetails(product.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                <button (click)="updateProduct(product.id)" class="btn btn-success" style="margin-left: 10px">Update</button>
                <button (click)="deleteProduct(product.id)" class="btn btn-danger"style="margin-left: 10px">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange) = " p = $event"></pagination-controls>
    </div>
  </div>
